.home {
    position: relative;
    height: calc(100% - 5px);
    background: url("/img/background.jpg");
    background-attachment: fixed;

    .background {
        background: url("/img/Achtergrond_elementen_logo.png") no-repeat;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-position: center center;
        background-attachment: fixed;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        width: 40%;

        animation: logo-in 1s;
        animation-timing-function: ease-in-out;

        &.hidden {
            opacity: 0;
        }

        &.out {
            animation: logo-out 1s forwards;
        }

        @media only screen and (max-width: 1000px) {
            width: 50%;
        }

        @media only screen and (max-width: 800px) {
            width: 60%;
        }

        @media only screen and (max-width: 600px) {
            width: 70%;
        }
    }
    .scroll {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        //animation: scroll-up-down 1s infinite;

        .arrow {
            position: relative;
            background-image: url("/img/Pijltje.png");
            background-size: 30px 14px;
            width: 30px;
            height: 14px;
            margin-top: -2px;
            animation: in-out infinite 2s;
            opacity: 0;
        }

        @keyframes in-out {
            0% {
                opacity: 0;
                transform: scale(0.8);
            }
            50% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(0.8);
            }
        }
    }

    .contact {
        position: absolute;
        right: 30px;
        bottom: 30px;
        transition-duration: 0.5s;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            cursor: pointer;
            height: 40px;
            width: 40px;

            &:hover {
                .icon {
                    img {
                        height: 40px;
                    }
                }
            }

            .icon {
                img {
                    transition-duration: 0.5s;
                    height: 30px;
                }
            }
        }

        &.hidden {
            right: -100px;
        }
    }

    @keyframes logo-in {
        0% {
            filter: blur(50px);
            opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }

    @keyframes logo-out {
        0% {
            filter: blur(00px);
            opacity: 1;
        }
        100% {
            filter: blur(50px);
            opacity: 0;
        }
    }

    @keyframes scroll-up-down {
        0% {
            transform: translate(-50%, 0px);
        }
        50% {
            transform: translate(-50%, 20px);
        }
        100% {
            transform: translate(-50%, 0px);
        }
    }
}
