.page{
    position: relative;
    margin: 80px 0px;
    @import 'working-at';
    @import 'contact';

    .footer{
        position: absolute;
        width: 50%;
        right: 0px;
        bottom: 0px;

        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;


        .social{
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-bottom: 20px;
            margin-left: 20px;

            transition-duration: .3s;
            &:hover{
                transform: translate(-3px,-3px);
                -webkit-filter: drop-shadow(3px 3px 3px #333);
                filter: drop-shadow(3px 3px 3px #333);
            }
        }

        .xp-bar{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            .bar{
                position: relative;
                display: inline-block;
                height: 4px;
                background: #CFCFCF;
                &.light{
                    background: #DDDDDD;
                }

                &.blue{
                    background: #83D3F0;
                }
            }
        }
    }
}
