.who-are-we {
    position: relative;
    border-top: 5px #fff solid;
    border-bottom: 5px #fff solid;
    background: url("/img/Geel_WebBackground.png");
    background-attachment: fixed;

    .container {
        position: relative;
        max-width: 1200px;
        margin: auto;
        padding-top: 80px;

        @media only screen and (max-width: 900px) {
            padding: 80px 20px 40px 20px;
        }

        .employees{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;

            @media only screen and (max-width: 500px) {
                justify-content: center;
            }

            .employee{
                width: 200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 40px;


                .portrait {
                    background: #323639;
                    height: 200px;
                    width: 200px;
                    border-radius: 200px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: portrait .5s forwards;
                    opacity: 0;

                    &.hidden{
                        opacity: 0;
                        animation: none;
                    }

                    img{
                        width: 93%;
                        height: 93%;
                        border-radius: 100%;
                    }

                    @keyframes portrait {
                        0%{
                            opacity: 0;
                            transform: translateY(150px);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                }

                .info{
                    margin-top: 20px;
                    animation: info .5s forwards;
                    opacity: 0;

                    &.hidden{
                        opacity: 0;
                        animation: none;
                    }

                    @keyframes info {
                        0%{
                            opacity: 0;
                            transform: translateX(-50px);
                        }
                        100%{
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }

                    .name{
                        color: $dark;
                        font-weight: 300;
                        font-size: 20px;
                        
                        text-align: center;
                    }

                    .description{
                        color: #fff;
                        font-weight: 300;
                        font-size: 14px;
                        text-align: center;
                        margin-top: 0px;
                    }
                }
            }
        }

        .content-mobile{
            display: none;
            @media only screen and (max-width: 900px) {
                display: block;
                margin-bottom: 30px;
            }

            .title{
                text-align: center;
                font-size: 50px;
                line-height: 52px;
                color: $dark;
                transition-duration: .5s;
                .bold{
                    font-weight: 800;
                }

                &.hidden{
                    opacity: 0;
                    transform: translateX(150px)
                }
            }

            .paragraph{
                text-align: center;
                margin-top: 20px;
                color: $dark;
                font-size: 22px;
                line-height: 25px;
                font-weight: 400;
                padding-bottom: 30px;
                font-family: $font_condensed;
                border-bottom: 2px dashed $dark;
                transition-duration: .5s;

                &.hidden{
                    opacity: 0;
                }
            }
        }

        .content{
            margin-top: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            //flex-wrap: wrap;

            @media only screen and (max-width: 900px) {
                display: none;
            }

            .page-image {
                margin-left: -40px;
                position: relative;
                width: 50%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                animation: page-image .5s forwards;

                &.hidden{
                    opacity: 0;
                    animation: none;
                }

                img{
                    width: 100%;
                    position: relative;
                }

                @keyframes page-image  {
                    0%{
                        margin-left: -600px;
                        opacity: 0;
                    }
                    100%{
                        margin-left: -40px;
                        opacity: 1;
                    }
                }
            }

            .text{
                width: 50%;
                .title{
                    font-size: 50px;
                    line-height: 52px;
                    color: $dark;
                    transition-duration: .5s;
                    transition-delay: .5s;
                    opacity: 1;

                    .bold{
                        font-weight: 800;
                    }

                    &.hidden{
                        opacity: 0;
                        transform: translateX(0px) scale(0);
                    }
                }

                .paragraph{
                    margin-top: 10px;
                    color: $dark;
                    font-size: 22px;
                    line-height: 25px;
                    font-weight: 400;
                    padding-bottom: 40px;
                    font-family: $font_condensed;

                    transition-duration: .5s;
                    transition-delay: 1s;
                    opacity: 1;

                    &.hidden{
                        opacity: 0;
                    }
                }
            }            
        }
    }
}
