$font: "Barlow", "Poppins", "Ubuntu", sans-serif;
$font_condensed: "Barlow Condensed";

$blue-light: #6fb9d4; //#83D3F0;
$blue: #49a8cc; //#51C2EC;
$blue-dark: #3d8aa7; //#4899b7;

$yellow: #fdc80c;
$yellow-light: #fde37f;


$dark: #323639;
