@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900);@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "Ubuntu", sans-serif;
  background-color: #49a8cc;
  background-attachment: fixed;
}

.app {
  position: relative;
  height: 100%;
}

.home {
  position: relative;
  height: calc(100% - 5px);
  background: url("/img/background.jpg");
  background-attachment: fixed;
}

.home .background {
  background: url("/img/Achtergrond_elementen_logo.png") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-position: center center;
  background-attachment: fixed;
}

.home .logo {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  -webkit-animation: logo-in 1s;
          animation: logo-in 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.home .logo.hidden {
  opacity: 0;
}

.home .logo.out {
  -webkit-animation: logo-out 1s forwards;
          animation: logo-out 1s forwards;
}

@media only screen and (max-width: 1000px) {
  .home .logo {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .home .logo {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .home .logo {
    width: 70%;
  }
}

.home .scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition-duration: 0.5s;
  cursor: pointer;
}

.home .scroll.hidden {
  opacity: 0;
}

.home .scroll .arrow {
  position: relative;
  background-image: url("/img/Pijltje.png");
  background-size: 30px 14px;
  width: 30px;
  height: 14px;
  margin-top: -2px;
  -webkit-animation: in-out infinite 2s;
          animation: in-out infinite 2s;
  opacity: 0;
}

@-webkit-keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.home .contact {
  position: absolute;
  right: 30px;
  bottom: 30px;
  transition-duration: 0.5s;
  display: flex;
}

.home .contact .dracula {
  background: url("/img/dracula.svg") repeat-y;
  background-size: 29px;
  width: 29px;
  background-position-y: 0px;
}

.home .contact .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition-duration: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home .contact .items .item:hover .icon img {
  height: 40px;
}

.home .contact .items .item .icon img {
  transition-duration: 0.5s;
  height: 30px;
}

.home .contact .items .item.hidden {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes logo-in {
  0% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes logo-in {
  0% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes logo-out {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}

@keyframes logo-out {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}

@-webkit-keyframes scroll-up-down {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  50% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }

  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes scroll-up-down {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  50% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }

  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

.who-are-we {
  position: relative;
  border-top: 5px #fff solid;
  border-bottom: 5px #fff solid;
  background: url("/img/Geel_WebBackground.png");
  background-attachment: fixed;
}

.who-are-we .container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
}

@media only screen and (max-width: 900px) {
  .who-are-we .container {
    padding-bottom: 40px;
  }
}

.who-are-we .container .employees {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .who-are-we .container .employees {
    justify-content: center;
  }
}

.who-are-we .container .employees .employee {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.who-are-we .container .employees .employee .portrait {
  background: #323639;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-are-we .container .employees .employee .portrait img {
  width: 93%;
  height: 93%;
  border-radius: 100%;
}

.who-are-we .container .employees .employee .info {
  margin-top: 40px;
}

.who-are-we .container .employees .employee .info .name {
  color: #323639;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.who-are-we .container .employees .employee .info .description {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.who-are-we .container .content {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.who-are-we .container .content .page-image {
  position: relative;
  width: 50%;
}

.who-are-we .container .content .page-image img {
  width: 100%;
  position: relative;
  bottom: -7px;
}

@media only screen and (max-width: 900px) {
  .who-are-we .container .content .page-image {
    display: none;
  }
}

.who-are-we .container .content .text {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .who-are-we .container .content .text {
    width: 100%;
  }
}

.who-are-we .container .content .text .title {
  font-size: 50px;
  line-height: 52px;
  color: #323639;
}

.who-are-we .container .content .text .title .bold {
  font-weight: 800;
}

.who-are-we .container .content .text .paragraph {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.container {
  padding: 0px 40px;
  position: relative;
}

