@import url(https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900);@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Poppins);html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "Ubuntu", sans-serif;
  background-color: #49a8cc;
  background-attachment: fixed;
}

.app {
  position: relative;
  height: 100%;
}

.home {
  position: relative;
  height: calc(100% - 5px);
  background: url("/img/background.jpg");
  background-attachment: fixed;
}

.home .background {
  background: url("/img/Achtergrond_elementen_logo.png") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-position: center center;
  background-attachment: fixed;
}

.home .logo {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  -webkit-animation: logo-in 1s;
          animation: logo-in 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.home .logo.hidden {
  opacity: 0;
}

.home .logo.out {
  -webkit-animation: logo-out 1s forwards;
          animation: logo-out 1s forwards;
}

@media only screen and (max-width: 1000px) {
  .home .logo {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .home .logo {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .home .logo {
    width: 70%;
  }
}

.home .scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .scroll .arrow {
  position: relative;
  background-image: url("/img/Pijltje.png");
  background-size: 30px 14px;
  width: 30px;
  height: 14px;
  margin-top: -2px;
  -webkit-animation: in-out infinite 2s;
          animation: in-out infinite 2s;
  opacity: 0;
}

@-webkit-keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.home .contact {
  position: absolute;
  right: 30px;
  bottom: 30px;
  transition-duration: 0.5s;
}

.home .contact .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.home .contact .item:hover .icon img {
  height: 40px;
}

.home .contact .item .icon img {
  transition-duration: 0.5s;
  height: 30px;
}

.home .contact.hidden {
  right: -100px;
}

@-webkit-keyframes logo-in {
  0% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes logo-in {
  0% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes logo-out {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}

@keyframes logo-out {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}

@-webkit-keyframes scroll-up-down {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  50% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }

  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes scroll-up-down {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  50% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }

  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

.who-are-we {
  position: relative;
  border-top: 5px #fff solid;
  border-bottom: 5px #fff solid;
  background: url("/img/Geel_WebBackground.png");
  background-attachment: fixed;
}

.who-are-we .container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.who-are-we .container .portraits {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.who-are-we .container .portraits .portrait {
  background: #252525;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.who-are-we .container .page-image {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 304px;
  height: 159px;
  background-image: url("/img/Wie_wij_zijn.png");
}

.container {
  padding: 0px 40px;
  position: relative;
}

